




<form id="logDiv">
    <input type="text" id="userName" placeholder="User Name">
    <input type="password" id="passWord" placeholder="password">
    <button id="login"></button>
    <br>
    <h3 id="rout2Reg">Sign Up!</h3>
</form>







