




<form id="logDiv">
    <input type="text" id="username" placeholder="User Name">
    <input type="password" id="password" placeholder="password">
    <button id="login">Login</button>
    <br>
    <button><a href="/#register">Sign Up!</a></button>
</form>







