

<h2> Hello </h2>

<form id="logDiv">
    <input type="text" id="userName" placeholder="Username">
    <input type="password" id="passWord" placeholder="password">
    <button id="login">Login</button>
    <br>
     <br>
    <button><a href="/#register">Don't Have an Account? Sign Up!</a></button>
</form>







