{{!-- do i need to link this in HTML? --}}

<header>

<h1>People Peephole!</h1>

  <div id="scoreBoard">
    <h2>High Scores</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>


<div id="pics">
  <h3>New Pictures</h3>
</div>

{{#each image}}
  <div id="addPost">
    <a href="#" data-id="{{id}}"><img src="{{image}}"></a>
  </div>
{{/each}}

</div>
<form id="addNewPic">

<button><a href="/#submit">+ Add a Pic</a></button>

</form>
