{{!-- do i need to link this in HTML? --}}
<h1>People Peephole!</h1>

<div id="pics">
  <h2>New Pictures</h2>


  <div id="addPost">
  {{#each post}}
  {{/each}}
  </div>






</div>
<form id="addNewPic">


<button><a href="/#submit">+ Add a Pic</a></button>


</form>



<div id="score">


  <div id="scoreBoard">
    <h3>High Scores</h3>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
  <button><a href="/#submit">+ Add a Pic</a></button>
