{{!-- do i need to link this in HTML? --}}

<header>

<h1>People Peephole!</h1>

  <div id="scoreBoard">
    <h2>High Scores</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>






<div id="pics">
  {{#each post}}
  <h3>New Pictures</h3>

  <div id="picContainer1"></div>

  <div id="picContainer2"></div>

  2

  {{/each}}
</div>
