


<h1>Register</h1>

<form id="userInfo">
  <input type="text" id="firstName" placeholder="First Name">
  <input type="text" id="lastName" placeholder="Last Name">
  <input type="text" id="userName" placeholder="User Name">
  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Password">
  <button id="addUser">Add Me</button>
  <br>
  <br>
  <button> <a href="/#login">Already a user? Click here.</a></button>
</form>

