<form id="userInfo">
  <input type="text" id="firstName" placeholder="First Name">
  <input type="text" id="lastName" placeholder="Last Name">
  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Password">
  <button id="addUser">Add Me</button>
  <br>
  <h3 id="login-direct">Already a user? Click here.</h3>
</form>

