
<h3> Have a Cool Picture? Show Us!</h3>

<form id="subPic">

  <input type="text" id="image" placeholder="Image URL">

  <input type="text" id="answer" placeholder="Answer">
  <input  type="text" id="answer_1" placeholder="Fake Answer">
  <input  type="text" id="answer_2" placeholder="Fake Answer">
  <input  type="text" id="answer_3" placeholder="Fake Answer">
  <button id="newSubPic">Submit Pic!</button>
</form>











