
<h3> Have a Cool Picture? Show Us!</h3>

<form id="subPic">

  <input type="text" id="inpURL" placeholder="Image URL">

  <input type="text" id="inpAns" placeholder="Answer">

  <button id="newSubPic">Submit Pic!</button>

</form>




